* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
  overflow: auto;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.active {
  color: aqua;
}
.primary-color {
  color: orange;
}
.light-color {
  color: rgba(224, 221, 221, 0.836);
}
.my {
  margin-bottom: 1.5rem;
}
.activeImg {
  border: 2px solid black;
}

/*********paginate*********/
.paginate {
  display: flex;
  align-content: space-between;
  align-items: center;
}
.paginate > div {
  flex: 1;
}
.paginate > div.item2 {
  text-align: center;
}
.paginate > div.item2 span {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #eee;
}
.paginate > div.item3 {
  text-align: right;
}

.darked {
  color: #333;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.block {
  display: block;
}
.paginate a {
  text-decoration: underline;
}
/******************HEADER*****************/
header {
  padding: 2rem 0;
  border-bottom: 1px solid #eee;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo > :first-child {
  margin-right: 1.5rem;
}
.logo > :first-child i {
  font-size: 35px;
}

header .header-content .menu {
  display: flex;
  text-transform: capitalize;
  font-weight: 600;
}
.bar {
  order: 1;
}
.checkbtn {
  font-size: 30px;

  cursor: pointer;
  display: none;
  order: 1;
}
#check {
  display: none;
}

header .header-content .menu *:not(:last-child) {
  margin-right: 1.5rem;
}
header .header-content .icons {
  display: flex;
}
header .header-content .icons *:not(:last-child) {
  margin-right: 1.5rem;
}
header .header-content .icons div i {
  font-size: 20px;
}
#main-section {
}
.nav {
  padding: 2rem 0;

  color: rgb(193, 189, 189);
}
#main-section .main-section-content {
  display: flex;
}
#main-section .main-section-content .filters {
  flex: 1;
  display: flex;
  width: 100%;
}
.filters #check2 {
  display: none;
}
.filters .checkbtn {
  transform: translateX(80vw);
}
#main-section .main-section-content .filters .filter {
  flex: 1;
}
#main-section .main-section-content .filters .filter > div {
  border: 1px solid #eee;
  padding: 1.5rem;
  margin: 1rem 1.5rem 1rem 0;
}
#main-section .main-section-content .filters .filter > div div.filter-head {
  display: flex;
  justify-content: space-between;
}
#main-section .main-section-content .filters .filter > div.product-size .group {
  display: flex;
  flex-wrap: wrap;
}
#main-section
  .main-section-content
  .filters
  .filter
  > div.product-size
  .filter-body
  input,
#main-section
  .main-section-content
  .filters
  .filter
  > div.product-color
  .filter-body
  input {
  display: none;
}

#main-section
  .main-section-content
  .filters
  .filter
  > div.product-size
  .filter-body
  label
  span {
  font-size: 12px;
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid #eee;
}
#main-section
  .main-section-content
  .filters
  .filter
  > div.product-color
  .filter-body
  label {
  border: 1px solid #eee;
}
#main-section
  .main-section-content
  .filters
  .filter
  > div.product-color
  .filter-body
  label
  span {
  margin: 0.2rem;
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid #eee;
}
#main-section
  .main-section-content
  .filters
  .filter
  > div.product-size
  .filter-body
  input:checked
  + label
  span,
#main-section
  .main-section-content
  .filters
  .filter
  > div.product-size
  .filter-body
  input[checked]
  + label
  span {
  border: 1px solid rgb(0, 79, 128);
}
#main-section
  .main-section-content
  .filters
  .filter
  > div.product-color
  .filter-body
  input:checked
  + label {
  border: 1px solid rgb(0, 79, 128);
}
#main-section .main-section-content .filters .filter > div div.filter-body {
  display: block;
}

/*****************************/
#main-section
  .main-section-content
  .filters
  .filter
  > div
  .filter-body
  .checkmark1 {
  display: flex;
  gap: 0.5rem;
}
#main-section
  .main-section-content
  .filters
  .filter
  > div
  .filter-body
  .checkmark1
  input {
}
#main-section
  .main-section-content
  .filters
  .filter
  > div
  .filter-body
  .checkmark1
  input {
  display: none;
}
#main-section
  .main-section-content
  .filters
  .filter
  > div
  .filter-body
  .checkmark1
  label
  > span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgb(230, 226, 226);
}
#main-section
  .main-section-content
  .filters
  .filter
  > div
  .filter-body
  .checkmark1
  label
  > span
  span {
  display: inline-block;

  width: 7px;
  height: 15px;
  margin: 0.5rem;
}
#main-section
  .main-section-content
  .filters
  .filter
  > div
  .filter-body
  .checkmark1
  input:checked
  + label
  > span {
  display: inline-block;

  background-color: rgb(16, 16, 17);
}
#main-section
  .main-section-content
  .filters
  .filter
  > div
  .filter-body
  .checkmark1
  input:checked
  + label
  > span
  span {
  border: solid rgb(243, 238, 238);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translate(-2px, -5px);
}

/***********************/

#main-section
  .main-section-content
  .filters
  .filter
  > div
  div.filter-body
  .group {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

#main-section .main-section-content .filters .filter > div div.filter-body {
}

#main-section .main-section-content .products {
  flex: 3;
}
#main-section .main-section-content .products .products-head {
  display: flex;
  justify-content: space-between;
}
#main-section .main-section-content .products .products-head .item {
  margin: 1rem;
  flex: 1;
  display: flex;
}
#main-section .main-section-content .products .products-head .item:first-child {
  flex: 2;
}

#main-section .main-section-content .products .products-head .item select {
  padding: 0.5rem;
  border: 1px solid rgba(224, 221, 221, 0.836);
  border-radius: 50px;
}
#main-section .main-section-content .products .products-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

#main-section .main-section-content .products .products-body .grid-item {
}

.img-container {
  position: relative;
  z-index: -1;
}

.img-container .wish-container {
  position: absolute;
  display: inline-block;

  top: 8%;
  right: 8%;
}

.img-container .wish-container i {
  background-color: #fff;
  font-size: 18px;
  display: block;
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 50%;
}

.img-container .wish-container i:hover {
  background-color: orange;
  color: #fff;
}

.wished {
  background-color: orange;
  color: #fff;
}
.del {
  color: #ccc;
  text-decoration: line-through;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  line-height: 1.5;
}
.light-gray {
  color: rgba(69, 68, 68, 0.816);
}
.hot-sale {
  margin-right: 3rem;
  color: red;
}
#main-section .main-section-content .products .products-body .grid-item img {
  display: block;
  width: 100%;
  height: 250px;
}
#main-section
  .main-section-content
  .products
  .products-body
  .grid-item
  .content {
  margin: 1rem 0;
}

#subscribe {
  margin: 3rem 0;
}

.subscribe-container {
  background: url("https://49fgglrumdhlhek222kya63n-wpengine.netdna-ssl.com/wp-content/uploads/2012/01/6-Golden-Customer-Service-Tips-to-Keep-Your-Clients-Loving-You-1024x683.jpg")
    no-repeat center center/cover;
}

#subscribe .content {
  display: flex;
  padding: 4rem 3rem;
  align-items: center;
}
#subscribe .content * {
  flex: 1;
}
#subscribe .content div:first-child {
}
#subscribe .content div:first-child h2 {
  color: white;
  padding-right: 4rem;
}
#subscribe .content form input {
  display: inline-block;
  border-radius: 25px;
  border: none;
  padding: 1rem;
}
#subscribe .content form input[type="text"] {
  width: 250px;
}
#subscribe .content form input[type="button"] {
  background-color: orange;
  text-transform: uppercase;
  margin-left: 1rem;
}
footer {
}
footer .footer-content {
  display: flex;
  line-height: 1.5;
}
footer .footer-content .item {
  flex: 1;
}
footer .footer-content .item.item-about {
  flex: 2;
}
footer .footer-content .item.item-about .about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
footer .footer-content .item.item-about .about-container .social-media {
  display: flex;
  justify-content: center;
  width: 70%;
}
footer .footer-content .item.item-about .about-container .social-media > div {
  flex: 1;
}
footer .footer-content .item.item-about .about-container .social-media i {
  color: rgba(122, 118, 118, 0.85);
}
footer .footer-content .item .item-content {
  width: 80%;
}

div.rights {
  border: 1px solid #eee;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
  font-size: 0.8rem;
}

/****************details************/
#details {
  padding: 1rem;
}
#details .detail-nav {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
#details .detail-nav .nav {
  padding: 0 0.5rem;
}
#details .detail-nav .item {
  flex: 1;
}
#details .detail-nav > .item:last-child {
  display: flex;
  /* margin-left: 3rem; */
  justify-content: space-between;
}
#details .detail-nav > .item:last-child > div {
  padding: 0.25rem 0.5rem;
  flex: 1;
  color: #333;
  background-color: #eee;
}
#details .detail-nav > .item:last-child .shiping-item {
  display: flex;
  align-items: center;
}
#details .detail-nav > .item:last-child .shiping-item > div {
  padding: 1rem;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-text {
  font-size: 12px;
}
#details .product {
  display: flex;
}
#details .product div {
}
#details .product > div {
  margin-top: 2rem;
  flex: 1;
}
#details .product > div:first-child {
  padding-right: 5rem;
  display: flex;
  /* gap: 1.5rem; */
}
#details .product > div:first-child .images-slider {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#details .product > div:first-child .images-slider div {
  height: 70px;
}
#details .product > div:first-child .images-slider div img {
  display: block;
  width: 70%;
  height: 100%;
}
#details .product > div:first-child .main-slider {
  flex: 3;
  margin-right: 4rem;
}
#details .product > div:first-child .main-slider img {
  display: block;
  width: 100%;
  height: 300px;
}
#details .product > div:first-child .main-slider .wish-container {
  display: none;
}
#details .product > div:first-child .main-slider .line {
  width: 80%;
  margin: auto;
  background: white;
  padding: 1.5px;
  position: absolute;
  bottom: 50px;
  left: 30px;
  display: none;
}

#details .product > div.item .sale span {
  font-size: 12px;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  border-radius: 40px;
  background: red;
}
#details .product > div.item .color,
#details .product > div.item .size {
  margin: 1rem 0;
}

#details .product > div.item .colors {
  display: flex;
}
#details .product > div.item .colors div {
  border: 1px solid #eee;
  margin: 0.5rem;
}
#details .product > div.item .colors div span {
  display: inline-block;
  padding: 0.75rem;
  margin: 0.4rem;
}
#details .product > div.item .size div:first-child {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#details .product > div.item .size select {
  color: rgba(206, 204, 204, 0.836);
  padding: 0.5rem 2rem;
  border: 1px solid rgba(206, 204, 204, 0.836);
  border-radius: 50px;
}

#details .product > div.item .quantity .buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
button {
  background-color: transparent;
  border: none;
}
#details .product > div.item .quantity .buttons .count {
  border: 1px solid #eee;
  padding: 0.5rem 2rem;

  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 800;
}

#details .product > div.item .quantity .buttons .add-cart button {
  border: 1px solid #eee;
  padding: 0.5rem 2rem;
  background-color: rgba(255, 208, 0, 0.68);
  border-radius: 25px;
  font-size: 10px;
  font-weight: 800;
}
#details .product > div.item .quantity .buttons div:last-child {
  border: 1px solid rgb(160, 157, 157);
  border-radius: 50%;
}
#details .product > div.item .quantity .buttons div:last-child i {
  margin: 0.5rem;
}
#details .product > div.item .quantity .buttons div:last-child:hover {
  background-color: rgba(255, 208, 0, 0.68);
}

#description {
  margin: 5rem auto;
}

#description .head {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 10px;
}
#description .head :first-child {
  padding: 0.5rem 1rem;
  border: 1px solid orangered;
  border-radius: 20px;
}
#description .detail {
  margin: 3rem auto;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
#description .detail > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  font-size: 14px;
}
#description .detail > div > div:first-child i {
  font-size: 60px;
  color: #eee;
}

#description .detail > div .warning {
  display: flex;
  gap: 5px;
  align-content: center;
}
#description .detail > div .warning img {
  display: inline-block;
  width: 20px;
}

#selected {
  margin: 2rem 0;
}
#selected .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 25px;
}
#selected .body {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  justify-content: center;
}
#selected .body .item {
  width: 200px;
}
#selected .body .item img {
  display: inline-block;
  width: 100%;
  height: 300px;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .container {
    padding: 0 20px;
  }
  .checkbtn {
    display: block;
  }
  header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
  }
  header .header-content {
    justify-content: space-around;
  }
  header .header-content .menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #333;
    top: 30px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  header .header-content .menu a {
    color: beige;
  }
  #check:checked ~ ul.menu {
    left: 0;
  }

  header .header-content ul.menu {
    flex-direction: column;
    margin: 50px 0;
    line-height: 30px;
  }
  header .header-content .icons div:nth-child(3) {
    display: none;
  }
  header .header-content .icons div:nth-child(4) {
    display: block;
  }
  #main-section .main-section-content {
    display: block;
  }
  #main-section .main-section-content .filters .checkbtn {
    position: fixed;
    top: 75px;
    order: 1;
    font-size: 16px;
  }
  #main-section .main-section-content .filters .filter {
    /**/
    /* display: none; */
    display: block;
    position: fixed;
    width: 100%;
    height: 90vh;
    background-color: white;
    top: 90px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  #check2:checked ~ .filter {
    left: 0;
  }

  #main-section .main-section-content .products .products-body {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  #subscribe .content {
    flex-direction: column;
    text-align: center;
  }
  #subscribe .content div:first-child h2 {
    padding-right: 0;
  }
  #subscribe .content form input {
    margin: 1rem;
  }
  footer .footer-content {
    flex-direction: column;
    text-align: center;
  }
  footer .footer-content .item.item-about .about-container {
    align-items: center;
    width: 100%;
  }

  footer .footer-content .item .item-content {
    width: 100%;
  }
  .open {
    display: block !important;
  }
  .close {
    display: none !important;
  }
  /*****************/
  #details {
    padding: 0;
  }
  #details .detail-nav {
    display: none;
  }
  #details .product {
    flex-direction: column;
  }
  #details .product > div {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  #details .product > div:first-child {
    padding-right: 0;
    flex-direction: column;
  }
  #details .product > div:first-child .images-slider {
    display: none;
  }
  #details .product > div:first-child .main-slider {
    margin: 0 -20px;
  }
  #details .product > div:first-child .main-slider .wish-container {
    display: block;
  }
  #details .product > div:first-child .main-slider .line {
    display: none;
  }

  #details .product > div.item .size div:first-child {
    justify-content: space-between;
  }
  #description .detail {
    flex-direction: column;
  }
  #selected .body {
    flex-wrap: wrap;
  }
  #selected .body .item {
    width: 40%;
  }
}
